spring:
  # Uso de variables SPRING_DATASOURCE_... en Render. Spring las detecta por defecto.
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Se usa SPRING_MAIL_... en Render.  Spring lo detecta por defecto.
  mail:
    test-connection: false
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}

springdoc:
  enable-native-support: true
