spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: public

  mail:
    test-connection: false
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# EL MARGEN IZQUIERDO ES VITAL: Cero espacios antes de logging
logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.results: DEBUG
    org.hibernate.tool.schema: DEBUG

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}

springdoc:
  enable-native-support: true
