<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuenta verificada</title>
</head>
    <body style="font-family: Arial, sans-serif; background-color: #ffffff; color: #333;">
        <h2>Cuenta verificada</h2>

        <p>Hola <strong th:text="${userName}">usuario</strong>, tu cuenta ha sido activada correctamente.</p>

        <p>Ya puedes acceder a la plataforma:</p>

        <a href="https://e-commerce-backend-lny2.onrender.com/swagger-ui/index.html"
           style="display:inline-block;padding:10px 16px;border:1px solid #333;color:#333;text-decoration:none;">
            Acceder
        </a>

        <p style="margin-top:30px;font-size:12px;color:#777;">
            Soporte: soporte@vexa.com
        </p>
    </body>
</html>
